#edit input[type=submit] {
	background: none;
	border: none;
	border: 2px solid white;
	color: white;
	font-size: 14pt;
	width: 300px;
	outline: none;
	font-weight: bold;
	margin-left: 20px;

}

#edit input[type=submit]:hover {
	background: white;
	color: red;
}

#edit div {
	text-align: center;
}