section div > img {
	max-width: 200px;
	max-height: 200px;
}

section div {
	vertical-align: top;
	margin-right: 10px;
}

section {
	margin-bottom: 15px;
	background-color: white;
	padding: 10px;
	border-radius: 4px;
}


table td{
	padding: 10px;
}

#second form {
	text-align: center;
	margin-bottom: 20px;
}

#second form input {
	background: none;
	border: none;
	border: 2px solid white;
	padding: 10px;
	color: white;
	font-size: 14pt;
	width: 200px;
	outline: none;
	font-weight: bold;
	margin-left: 20px;
}

#second form input:hover {
	background: white;
	color: red;
}

#second form select {
	background: none;
	border: none;
	border: 2px solid white;
	padding: 10px;
	color: white;
	font-size: 14pt;
	width: 200px;
	outline: none;
	font-weight: bold;
	margin-left: 20px;
}

#second form label {
	color: white;
	font-size: 14pt;
	font-weight: bold;
}